.card {
    box-shadow: 0 1px 19px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
    min-width: 100%;
}
.card h6 {
    color: #11142d;
    font-size: 14px;
    font-weight: 500;
}
.card p {
    color: #a7a7ae;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
    height: 28px;
}

@media only screen and (max-width: 672px) {
    .card {
        margin-top: 12px;
    }
}
